<div  class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select 
        panelClass="sort-select" 
        [(ngModel)]="sortBy"
        (selectionChange)="searchMovies(sortBy)">
            <mat-option value="title">Name</mat-option>
            <mat-option value="released">Released</mat-option>
            <mat-option value="ratings">Ratings</mat-option>
            <mat-option value="metacritic">Metacritic</mat-option>
            <mat-option value="added"></mat-option>
            <mat-option value="created"></mat-option>
            <mat-option value="updated"></mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="movies">
    <li *ngFor="let movie of movies">
    <div class="movie" (click)="openMovieDetails(movie.movieId)">
        <div class="movie-thumb-container">
            <img class="movie-thumbnail" 
            src="{{movie.backgroundImage}}" 
            alt="movie-thumb"
            >
        </div>
        <div class="movie-description">
            <p class="movie-name">{{movie.title}}<br><br>{{movie.metacritic}}<br><br>{{movie.ratings}}<br><br>{{movie.released}}</p>
            <div class="movie-platforms">
                <img
                *ngFor="let moviePlatform of movie.platforms" 
                class="movie-platform" 
                src="assets/images/platforms/{{moviePlatform}}.png" 
                alt="{{moviePlatform}}">
            </div>
        </div>
    </div>
</div>